/* 모바일 화면에 대한 스타일 */
@media (max-width: 768px) {
  body {
    margin: 0 5px;
  }
  .dotCgv {
    margin-top: 12px;
    width: 4px;
    height: 4px;
    background-color: #e42313;
    position: absolute;
    z-index: 1;
  }
  .dotMega {
    margin-top: 12px;
    width: 4px;
    height: 4px;
    background-color: #362462;
    position: absolute;
    z-index: 2;
  }
  .dotLotte {
    margin-top: 12px;
    width: 4px;
    height: 4px;
    background-color: #ee870e;
    position: absolute;
    z-index: 3;
  }
  .contents {
    margin-top: 16px;
    margin-bottom: 24px;
  }
}

/* 태블릿 화면에 대한 스타일 */
@media (min-width: 769px) and (max-width: 1366px) {
  body {
    margin: 0 30px;
  }
  .dotCgv {
    width: 8px;
    height: 8px;
    background-color: #e42313;
    position: absolute;
  }
  .dotMega {
    width: 8px;
    height: 8px;
    background-color: #362462;
    position: absolute;
  }
  .dotLotte {
    width: 8px;
    height: 8px;
    background-color: #ee870e;
    position: absolute;
  }
  .contents {
    margin-top: 25px;
    margin-bottom: 35px;
  }
}

/* 웹 화면에 대한 스타일 */
@media (min-width: 1367px) {
  body {
    margin: 0 113px;
  }
  .dotCgv {
    width: 8px;
    height: 8px;
    background-color: #e42313;
    position: absolute;
  }
  .dotMega {
    width: 8px;
    height: 8px;
    background-color: #362462;
    position: absolute;
  }
  .dotLotte {
    width: 8px;
    height: 8px;
    background-color: #ee870e;
    position: absolute;
  }
}

.absoluteDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
