.react-calendar {
  background: #f5f5f5;
  border-radius: 8px;
  font-family: Pretendard-Regular;
  line-height: 1.125em;
}
.react-calendar__tile {
  max-width: 100%;
  background: none;
  text-align: center;
  line-height: 10px;
  font: inherit;
  font-size: 0.833em;
}

/* 모바일 화면에 대한 스타일 */
@media (max-width: 768px) {
  .react-calendar {
    // height: 350px;
    padding: 12px 0 8px 0;
    max-width: 100%; /* 화면 너비에 맞추기 */
  }

  .react-calendar__tile {
    font-size: 13px; /* 날짜 폰트 크기 조절 */
    line-height: 1.45; /* 날짜 간격 조절 */
    padding: 16px 6.6667px;
  }
}

/* 태블릿 화면에 대한 스타일 */
@media (min-width: 769px) and (max-width: 1366px) {
  .react-calendar {
    width: 690px;
    height: 580px;
    max-width: 100%; /* 화면 너비에 맞추기 */
  }

  .react-calendar__tile {
    font-size: 14px; /* 날짜 폰트 크기 조절 */
    line-height: 365%; /* 날짜 간격 조절 */
    padding: 20px 6.6667px;
  }
}

/* 웹 화면에 대한 스타일 */
@media (min-width: 1367px) {
  .react-calendar {
    width: 690px;
    height: 580px;
    max-width: 100%; /* 화면 너비에 맞추기 */
  }

  .react-calendar__tile {
    font-size: 14px; /* 날짜 폰트 크기 조절 */
    line-height: 365%; /* 날짜 간격 조절 */
    padding: 20px 6.6667px;
  }
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: normal;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
  font-weight: 600;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #000000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
}

.react-calendar__tile:enabled:hover abbr {
  color: white;
  // background: gray;
  // padding: 6px;
  // border-radius: 50%;
}
.react-calendar__tile:enabled:hover p {
  position: absolute;
  background: gray;
  padding: 40%;
  border-radius: 50%;
  transform: translateY(-11px);
  z-index: 0;
}
.react-calendar__tile:enabled:focus abbr {
  // background: black;
  color: white;
  // padding: 6px;
  // border-radius: 50%;
}

.react-calendar__tile:enabled:focus p {
  position: absolute;
  background: black;
  padding: 40%;
  border-radius: 50%;
  transform: translateY(-11px);
  z-index: 10;
}

.react-calendar__tile--now abbr {
  text-decoration: underline;
}
// 오늘 날짜에 css 추가하는 부분
.react-calendar__tile--now p {
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
}

.react-calendar__tile--active abbr {
  // background: black;
  color: white;
  // padding: 6px;
  // border-radius: 50%;
}
.react-calendar__tile--active p {
  position: absolute;
  background: black;
  padding: 40%;
  border-radius: 50%;
  transform: translateY(-11px);
  z-index: 10;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
}

.react-calendar--selectRange .react-calendar__tile--hover {
}

.react-calendar__month-view__days__day abbr {
  position: relative;
  z-index: 25;
}
